<section class="hero is-link">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        クイズ詳細
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <%= attachment_image_tag @quiz, :image %>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4"><%= @quiz.title %></p>
              </div>
            </div>
            <div class="content">
              <table class="table is-narrow">
                <tr>
                  <th>クイズ</th>
                </tr>
                <tr>
                  <td><%= simple_format @quiz.body %></td>
                </tr>
              </table>

              <div class="field">
                <% if current_user %>
                  <%= form_with(model: [@quiz, @comment], local: true) do |form| %>
                    <p class="control">
                      <%= form.text_area :text, placeholder: "クイズの解答をする", rows: "2",class: "input is-rounded is-link" %>
                    </p>
                    <p class="control">
                      <%= form.submit "解答を送信", class: "button is-rounded is-link" %>
                    </p>
                  <% end %>
                <% else %>
                  <strong><p>コメントの投稿には新規登録/ログインが必要です</p></strong>
                <% end %>
              </div>

              <div class="comments">
                <h4>みんなの解答</h4>
                <% if @comments %>
                  <% @comments.each do |comment| %>
                    <p>
                      <strong><%= link_to comment.user.username, "/users/#{comment.user_id}" %>：</strong>
                      <%= comment.text %>
                    </p>
                  <% end %>
                <% end %>
              </div>


<h4>いいね件数: <%= @quiz.likes.count %></h4>
<% if current_user.already_liked?(@quiz) %>
  <%= button_to 'いいねを取り消す', quiz_like_path(@quiz), method: :delete, class: "button is-link" %>
<% else %>
  <%= button_to 'いいね', quiz_likes_path(@quiz),class: "button is-link" %>
<% end %>
<h4>いいねしたユーザー</h4>
<% @quiz.liked_users.each do |user| %>
  <li><%= user.username %></li>
<% end %>

              <% if @quiz.user.id == current_user.id %>
                <%= link_to "編集画面へ", edit_quiz_path(@quiz), class: "button is-rounded is-link to-edit" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <article class="panel is-link">
          <p class="panel-heading">
            By <%= @quiz.user.username %>
          </p>
          <div class="panel-block">
            <p class="control">
              <%= @quiz.user.profile %>
            </p>
          </div>
          <%= link_to user_path(@quiz.user), class: "panel-block" do %>
            <span class="panel-icon">
              <i class="fas fa-user" aria-hidden="true"></i>
            </span>
            <%= @quiz.user.username %> さんのページへ
          <% end %>
        </article>
      </div>
    </div>
  </div>
</section>
